body{
    background-image: url(./17.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.A{
background-color: beige;
color: black;
width: 100%;
border-radius: 15px;
position: fixed;
align-items: center;
display: flex;

}
.B{

padding-left: 800px;
font-family:Tahoma;
}
.lib{
font-family: Impact;
font-size: 50px;
padding-left: 50px;
}
.C{
padding-left: 500px;
font-size: xx-large;
color:rgb(44, 44, 41);
font-family:Georgia;
}
.D{
    font-size: 25px;
}
.E{
    background-color:beige;
    width: 300px;
    height: 320px;
    border-radius: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 25px;
} 
.F{
    font-size:medium;
    width: 200px;
    height: 30px;
    font-weight: 300px;
    color: rgb(0, 0, 0);
    background-color:rgb(239, 239, 232);
     border: none;
}
.G{
    font-size: large;
    width: 120px;
    font-weight: 300px;
    color:aliceblue;
    background-color:rgb(43, 48, 78);
    border: none;
}
    